.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    border-radius: 0;
}

header div h2{
    font-family: 'Marck Script', cursive;
}
h1{

    font-family: 'Eczar', serif;
}

nav{
    background-color:gray;
    display:flex;
    justify-content: space-between;
     align-items: center;   
}

img{
    float: right;
    display: flex;
    align-items: center;
    border-radius: 100%;  
}
/*mes barres de progression*/
#myProgress{
    width: 50%;
    background-color:gray;
    height:30px;
   
}

#myBar{
    width:1%;
    background-color:green;
    height: 30px;
     text-align: center;
     color:white;
}

body{
    margin:0;
    border:0;
    padding-top: 30px;
}
li{
    display:inline;
    justify-content: space-around;
   
}
 #identity{
    text-align: center;
    padding-top: 0;
    text-transform: uppercase;
    
}

div{
    height: 550px;
    width: 100%;
    top :0;
}
.headmaster div{
   
background-image: url("../images/header.jpeg");
background-size: cover;
}

#enrique{
    background-image: url("../images/pex.jpeg");
    background-size: cover;
}
#amery{
    background-image: url("../images/create.jpeg");
    background-size: cover;
    background-position: center;
}
kloop{
    background-image: url("../images/sport.jpg");
    background-size:cover;
    background-position: center;
}
#conte{
    background-image: url("../images/light.jpeg");
    background-size:cover;
    background-position: center;
}
#wenger{
      background-image: url("../images/hand.jpeg");
    background-size:cover;
    background-position: center;
}
#mourinho{
     background-image: url("../images/contact.jpg");
    background-size:cover;
    background-position: center;
}